* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: #2A4A5C;
}

a {
  color: #03a9f4;
}

.dark-text {
  color: black;
}

.gray-text {
  color: #7B8A92;
}

.body-container .body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 5vh;
  justify-content: center;
  background-color: #EFF6FF;
}

.section-container {
  display: flex;
}
.section-container .section {
  background-color: #FFFFFF;
  box-shadow: 0 0 350px #7B8A92;
  max-width: 650px;
  max-height: 650px;
}

.image-section {
  position: relative;
  height: 100%;
}
.image-section .logo-container {
  position: absolute;
  top: 25px;
  left: 27px;
}
.image-section .logo-container svg {
  width: 100px;
  height: 20px;
}
.image-section .image-container {
  height: 650px;
}
.image-section .image-container img {
  height: 100%;
}

.auth-section {
  padding: 60px;
}

.registration {
  margin-bottom: 30px;
}

.text-block {
  margin-bottom: 30px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-weight: 600;
  font-size: 14px;
  color: #7B8A92;
}

.way {
  display: flex;
  justify-content: space-around;
}

.button {
  position: relative;
  height: 30px;
  cursor: pointer;
}
.button button {
  font-size: 12px;
  cursor: pointer;
  color: #FFFFFF;
  width: 200px;
  height: 100%;
  text-align: center;
  border: none;
}
.button .button-svg-container {
  position: absolute;
  height: 100%;
  left: 10px;
}
.button .button-svg-container svg {
  height: 100%;
  width: 16px;
}
.button .facebook {
  background-color: #255A9B;
}
.button .linkedln {
  background-color: #0076B6;
}

.divide-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.divide {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.line {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  margin: 7px;
  background-color: #2A4A5C;
  opacity: 0.3;
}

.data-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  /* text field */
  /* with floating label */
}
.data-container .text-field {
  margin-bottom: 1rem;
}
.data-container .text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}
.data-container .text-field__input {
  display: block;
  width: 200px;
  height: 10px;
  padding: 0.375rem 0.75rem;
}
.data-container .text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}
.data-container .text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.data-container .text-field_floating-3 {
  position: relative;
}
.data-container .text-field_floating-3 .text-field__input {
  border: 1px solid #bdbdbd;
  border-radius: 0;
  height: 35px;
  background-color: #f5f5f5;
}
.data-container .text-field_floating-3 .text-field__input:focus {
  border-left: 2px solid #03a9f4;
  box-shadow: none;
  background-color: #eee;
}
.data-container .text-field_floating-3 .text-field__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
}
.data-container .text-field_floating-3 .text-field__input::-moz-placeholder {
  color: transparent;
}
.data-container .text-field_floating-3 .text-field__input::placeholder {
  color: transparent;
}
.data-container .text-field_floating-3 .text-field__input:focus,
.data-container .text-field_floating-3 .text-field__input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.data-container .text-field_floating-3 .text-field__input:focus ~ .text-field__label,
.data-container .text-field_floating-3 .text-field__input:not(:placeholder-shown) ~ .text-field__label {
  transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
  color: #03a9f4;
}

.data-input-text {
  width: 200px;
  height: 40px;
}

.radio-block {
  display: flex;
  justify-content: space-between;
}

.additional-inf-container {
  display: none;
}
.additional-inf-container_active {
  display: block;
  max-width: 250px;
  border-radius: 7px;
  box-shadow: 0 0 15px gray;
  opacity: 0.4;
  padding: 15px;
  font-size: 12px;
}

.additional-inf {
  color: black;
}

.form_radio {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.form_radio input {
  cursor: pointer;
  width: 0;
  height: 0;
}
.form_radio label {
  cursor: pointer;
  margin-left: 25px;
}
.form_radio input[type=radio]:after {
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #AFAFAF;
  border-collapse: collapse;
}
.form_radio input[type=radio]:checked:after {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  display: inline-block;
  visibility: visible;
  border: none;
  border-collapse: collapse;
  box-shadow: inset 0 0 0 5px #3698FB;
}
.form_radio input[type=checkbox]:after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  top: 0;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #AFAFAF;
  opacity: 1;
  border-collapse: collapse;
}
.form_radio input[type=checkbox]:checked:after {
  width: 15px;
  height: 15px;
  content: "";
  display: inline-block;
  visibility: visible;
  border-collapse: collapse;
  box-shadow: inset 0 0 0 4px #3698FB;
  border: 2px solid #AFAFAF;
}
.form_radio svg {
  cursor: pointer;
  opacity: 0.4;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  fill: #2A4A5C;
}

.submit-button .button button {
  border-radius: 3px;
  background-color: #3698FB;
}

/*# sourceMappingURL=style.css.map */
